<!DOCTYPE html>
<html>
<head>
    <title>Lista Sprzętu</title>
</head>
<body>
    <h1>Lista Sprzętu</h1>
    {% for category, items in sprzet_list.items %}
        <h2>{{ category }}</h2>
        <ul>
            {% for sprzet in items %}
                <li>
                    {{ sprzet.nazwa_sprzetu }} - {{ sprzet.numer_seryjny }}
                    <a href="{% url 'edytuj_sprzet' sprzet.pk %}">Edytuj</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>