{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permisje</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Permisje</h1>
            <button onclick="window.location.href='{% url 'dodaj_sprzet' %}'">Dodaj Sprzęt</button>
            <button onclick="window.location.href='{% url 'lista_sprzetu' %}'">Lista Sprzętu</button>
        </header>
        <main>
            <ul>
                {% for permisja in permisje %}
                    <li>{{ permisja }}</li>
                {% endfor %}
            </ul>
        </main>
    </div>
</body>
</html>